## Short notebook: combining dataframes on categories

In [48]:
#import libraries
import pandas as pd
import re
import xlsxwriter

In [49]:
#set file-paths
file_path_categories = '../data_base/Categories_over_time.xlsx'

file_path_thinktanks = '../data_base/CLEAN_THINKTANKS.xlsx'

In [50]:
#import category-datasets
regions_category_df = pd.read_excel(file_path_categories,sheet_name='regions')
research_category_df = pd.read_excel(file_path_categories,sheet_name='research_areas')
special_category_df = pd.read_excel(file_path_categories,sheet_name='special_categories')

In [51]:
#import think-tank datasets
regions_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='regions')
research_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='research_areas')
special_tt_df = pd.read_excel(file_path_thinktanks,sheet_name='special_categories')

In [52]:
research_category_df['Category'] = research_category_df['Category'].str.lower().str.strip()
research_tt_df['Category'] = research_tt_df['Category'].str.lower().str.strip()

In [53]:
research_tt_df.head()

,Rank,origin_tt_name,Category,Year,country,parenthesis,clean_tt
0,1,brookings institution (usa),top 10 international development,2008,United States,['(usa)'],brookings institution
1,2,overseas development institute (odi) uk,top 10 international development,2008,United Kingdom,['(odi)'],overseas development institute
2,3,council on foreign relations (usa),top 10 international development,2008,United States,['(usa)'],council on foreign relations
3,4,rand corporation (usa),top 10 international development,2008,United States,['(usa)'],rand corporation
4,5,woodrow wilson international center for schola...,top 10 international development,2008,United States,['(usa)'],woodrow wilson international center for scholars

In [54]:
#merge datasets
cleand_regions_tt = pd.merge(regions_tt_df,regions_category_df[['Category','Category2']],left_on='Category',right_on='Category',how='left')

cleand_research_tt = pd.merge(research_tt_df,research_category_df[['Category','Category2']],left_on='Category',right_on='Category',how='left')

cleand_special_tt = pd.merge(special_tt_df,special_category_df[['Category','Category2']],left_on='Category',right_on='Category',how='left')

In [55]:
cleand_regions_tt.head()

,Rank,origin_tt_name,Category,Year,Country,parenthesis,clean_tt,Category2
0,1,brookings institution (united states),Top 30 Think Tanks United States,2008,United States,['(united states)'],brookings institution,Top Think Tanks in the United States
1,2,council on foreign relations,Top 30 Think Tanks United States,2008,United States,[],council on foreign relations,Top Think Tanks in the United States
2,3,carnegie endowment for international peace,Top 30 Think Tanks United States,2008,United States,[],carnegie endowment for international peace,Top Think Tanks in the United States
3,4,rand corporation,Top 30 Think Tanks United States,2008,United States,[],rand corporation,Top Think Tanks in the United States
4,5,heritage foundation,Top 30 Think Tanks United States,2008,United States,[],heritage foundation,Top Think Tanks in the United States

In [56]:
cleand_research_tt.head()

,Rank,origin_tt_name,Category,Year,country,parenthesis,clean_tt,Category2
0,1,brookings institution (usa),top 10 international development,2008,United States,['(usa)'],brookings institution,Top International Development Policy Think Tanks
1,2,overseas development institute (odi) uk,top 10 international development,2008,United Kingdom,['(odi)'],overseas development institute,Top International Development Policy Think Tanks
2,3,council on foreign relations (usa),top 10 international development,2008,United States,['(usa)'],council on foreign relations,Top International Development Policy Think Tanks
3,4,rand corporation (usa),top 10 international development,2008,United States,['(usa)'],rand corporation,Top International Development Policy Think Tanks
4,5,woodrow wilson international center for schola...,top 10 international development,2008,United States,['(usa)'],woodrow wilson international center for scholars,Top International Development Policy Think Tanks

In [57]:
cleand_special_tt.head()

,Rank,origin_tt_name,Category,Year,country,parenthesis,clean_tt,Category2
0,1,cato institute (usa),Think Tanks with the Most Innovative Policy/Id...,2008,United States,['(usa)'],cato institute,Think Tanks with the Most Innovative Policy Id...
1,2,brookings institute usa,Think Tanks with the Most Innovative Policy/Id...,2008,United States,[],brookings institute,Think Tanks with the Most Innovative Policy Id...
2,3,"carnegie endowment for international peace, us",Think Tanks with the Most Innovative Policy/Id...,2008,United States,[],"carnegie endowment for international peace,",Think Tanks with the Most Innovative Policy Id...
3,1,european council on foreign relations belgium,Best New Think Tank (established in the last t...,2008,Belgium,[],european council on foreign relations,Best New Think Tank (established in the last t...
4,2,bruegel (belgium),Best New Think Tank (established in the last t...,2008,Belgium,['(belgium)'],bruegel,Best New Think Tank (established in the last t...

In [58]:
#rename cateories:
cleand_regions_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_research_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

cleand_special_tt.rename(columns={'Category2':'cleaned_category'},inplace=True)

In [59]:
cleand_research_tt.head()

,Rank,origin_tt_name,Category,Year,country,parenthesis,clean_tt,cleaned_category
0,1,brookings institution (usa),top 10 international development,2008,United States,['(usa)'],brookings institution,Top International Development Policy Think Tanks
1,2,overseas development institute (odi) uk,top 10 international development,2008,United Kingdom,['(odi)'],overseas development institute,Top International Development Policy Think Tanks
2,3,council on foreign relations (usa),top 10 international development,2008,United States,['(usa)'],council on foreign relations,Top International Development Policy Think Tanks
3,4,rand corporation (usa),top 10 international development,2008,United States,['(usa)'],rand corporation,Top International Development Policy Think Tanks
4,5,woodrow wilson international center for schola...,top 10 international development,2008,United States,['(usa)'],woodrow wilson international center for scholars,Top International Development Policy Think Tanks

In [60]:
cleand_special_tt.head()

,Rank,origin_tt_name,Category,Year,country,parenthesis,clean_tt,cleaned_category
0,1,cato institute (usa),Think Tanks with the Most Innovative Policy/Id...,2008,United States,['(usa)'],cato institute,Think Tanks with the Most Innovative Policy Id...
1,2,brookings institute usa,Think Tanks with the Most Innovative Policy/Id...,2008,United States,[],brookings institute,Think Tanks with the Most Innovative Policy Id...
2,3,"carnegie endowment for international peace, us",Think Tanks with the Most Innovative Policy/Id...,2008,United States,[],"carnegie endowment for international peace,",Think Tanks with the Most Innovative Policy Id...
3,1,european council on foreign relations belgium,Best New Think Tank (established in the last t...,2008,Belgium,[],european council on foreign relations,Best New Think Tank (established in the last t...
4,2,bruegel (belgium),Best New Think Tank (established in the last t...,2008,Belgium,['(belgium)'],bruegel,Best New Think Tank (established in the last t...

In [62]:
#check for empty new categories

#cleand_regions_tt[cleand_regions_tt['cleaned_category'].isnull()]
#cleand_research_tt[cleand_research_tt['cleaned_category'].isnull()]
cleand_special_tt[cleand_special_tt['cleaned_category'].isnull()]
#len(cleand_research_tt)

,Rank,origin_tt_name,Category,Year,country,parenthesis,clean_tt,cleaned_category
3479,2,asian development bank institute (adbi) (japan),NaN,2015,Japan,"['(adbi)', '(japan)']",asian development bank institute,NaN
3480,3,norwegian institute of international affairs (...,NaN,2015,Norway,"['(nupi)', '(norway)']",norwegian institute of international affairs,NaN
3481,4,royal united services institute (rusi) (united...,NaN,2015,United States,"['(rusi)', '(united kingdom)']",royal united services institute,NaN
3482,5,"world bank institute (wbi), world bank (united...",NaN,2015,United States,"['(wbi)', '(united states)']","world bank institute , world bank",NaN
3483,6,korea development institute (kdi) (republic of...,NaN,2015,Republic of Korea,"['(kdi)', '(republic of korea)']",korea development institute,NaN
3484,7,china institutes of contemporary international...,NaN,2015,China,"['(cicir)', '(china)']",china institutes of contemporary international...,NaN
3485,8,china institute of international studies (ciis...,NaN,2015,China,"['(ciis)', '(china)']",china institute of international studies,NaN
3486,9,east-west center (ewc) (united states),NaN,2015,United States,"['(ewc)', '(united states)']",east-west center,NaN
3487,10,european union institute for security studies ...,NaN,2015,France,"['(euiss)', '(france)']",european union institute for security studies,NaN
3488,11,united states institute of peace (usip) (unite...,NaN,2015,United States,"['(usip)', '(united states)']",united states institute of peace,NaN
3489,12,european political strategy centre (epsc) (bel...,NaN,2015,Belgium,"['(epsc)', '(belgium)']",european political strategy centre,NaN
3490,13,german development institute (die) (germany),NaN,2015,Germany,"['(die)', '(germany)']",german development institute,NaN
3491,14,centre for eastern studies (osw) (poland),NaN,2015,Poland,"['(osw)', '(poland)']",centre for eastern studies,NaN
3492,15,shanghai institutes for international studies ...,NaN,2015,China,"['(siis)', '(china)']",shanghai institutes for international studies,NaN
3493,16,facultad latinoamericana de ciencias sociales ...,NaN,2015,Ecuador,"['(flacso)', '(ecuador)']",facultad latinoamericana de ciencias sociales,NaN
3494,17,ethiopian development research institute (edri...,NaN,2015,Ethiopia,"['(edri)', '(ethiopia)']",ethiopian development research institute,NaN
3495,18,institute of world economy and international r...,NaN,2015,Russia,"['(imemo ras)', '(russia)']",institute of world economy and international r...,NaN
3496,19,chinese academy of social sciences (cass) (china),NaN,2015,China,"['(cass)', '(china)']",chinese academy of social sciences,NaN
3497,20,development research center of the state counc...,NaN,2015,China,"['(drc)', '(china)']",development research center of the state council,NaN
3498,21,institute for defence studies and analyses (id...,NaN,2015,India,"['(idsa)', '(india)']",institute for defence studies and analyses,NaN
3499,22,instituto de pesquisa economica aplicada (ipea...,NaN,2015,Brazil,"['(ipea)', '(brazil)']",instituto de pesquisa economica aplicada,NaN
3500,23,council on foreign and defence policy (svop) (...,NaN,2015,Russia,"['(svop)', '(russia)']",council on foreign and defence policy,NaN
3501,24,"research institute of economy, trade and indus...",NaN,2015,United States,"['(rieti)', '(japan)']","research institute of economy, trade and",NaN
3502,25,bangladesh institute of development studies (b...,NaN,2015,Bangladesh,"['(bids)', '(bangladesh)']",bangladesh institute of development studies,NaN
3503,26,center for strategic studies (sam) (azerbaijan),NaN,2015,Azerbaijan,"['(sam)', '(azerbaijan)']",center for strategic studies,NaN
3504,27,brunei darussalam institute of policy and stra...,NaN,2015,United States,"['(bdipss)', '(brunei)']",brunei darussalam institute of policy and stra...,NaN
3505,28,institute of foreign affairs and national secu...,NaN,2015,Republic of Korea,"['(ifans)', '(republic of korea)']",institute of foreign affairs and national secu...,NaN
3506,29,information and decision support center (idsc)...,NaN,2015,Egypt,"['(idsc)', '(egypt)']",information and decision support center,NaN
3507,30,thailand development research institute (tdri)...,NaN,2015,Thailand,"['(tdri)', '(thailand)']",thailand development research institute,NaN
3508,31,institute for foreign affairs and trade (ifat)...,NaN,2015,Hungary,"['(ifat)', '(hungary)']","institute for foreign affairs and trade , fka ...",NaN
...,...,...,...,...,...,...,...,...
3517,40,fundacao alexandre de gusmao (funag) (brazil),NaN,2015,Brazil,"['(funag)', '(brazil)']",fundacao alexandre de,NaN
3518,41,maritime institute of malaysia (mima) (malaysia),NaN,2015,Malaysia,"['(mima)', '(malaysia)']",maritime institute of,NaN
3519,42,national institute for defense studies (nids) ...,NaN,2015,Japan,"['(nids)', '(japan)']",national institute for defense studies,NaN
3520,43,united nations development programme (undp) (u...,NaN,2015,United States,"['(undp)', '(united states)']",united nations development programme,NaN
3521,44,albanian institute for international studies (...,NaN,2015,Albania,"['(aiis)', '(albania)']",albanian institute for international studies,NaN
3522,45,barcelona centre for international affairs (ci...,NaN,2015,Spain,"['(cidob)', '(spain)']",barcelona centre for international affairs,NaN
3523,46,centre for global cooperation research (gcr21)...,NaN,2015,Germany,"['(gcr21)', '(germany)']",centre for global cooperation research,NaN
3524,47,centro de investigación para el desarrollo ac ...,NaN,2015,Mexico,"['(cidac)', '(mexico)']",centro de investigación para el desarrollo ac,NaN
3525,48,commonwealth scientific and industrial researc...,NaN,2015,United States,"['(csiro)', '(australia)']",commonwealth scientific and industrial researc...,NaN
3526,49,economic development and research institute (e...,NaN,2015,Ethiopia,"['(edri)', '(ethiopia)']",economic development and research institute,NaN
3527,50,industrial technology research institute (itri...,NaN,2015,Taiwan,"['(itri)', '(taiwan)']",industrial technology research institute,NaN
3528,51,economic policy research center (eprc) (uganda),NaN,2015,Uganda,"['(eprc)', '(uganda)']",economic policy research center,NaN
3529,52,center for strategic studies (sam) (turkey),NaN,2015,Turkey,"['(sam)', '(turkey)']",center for strategic studies,NaN
3530,53,finnish institute for international affairs (f...,NaN,2015,Finland,"['(fiia)', '(finland)']",finnish institute for international affairs,NaN
3531,54,"food, agriculture and natural resources policy...",NaN,2015,South Africa,"['(fanrpan)', '(south africa)']","food, agriculture and natural resources policy...",NaN
3532,55,institute of defense studies and analyses (ids...,NaN,2015,India,"['(idsa)', '(india)']",institute of defense studies and analyses,NaN
3533,56,intergovernmental panel on climate change (ipc...,NaN,2015,Switzerland,"['(ipcc)', '(switzerland)']",intergovernmental panel on climate change,NaN
3534,57,kazakhstan institute for strategic studies (ka...,NaN,2015,Kazakhstan,"['(kaziss)', '(kazakhstan)']",kazakhstan institute for strategic studies,NaN
3535,58,kenya institute of public policy research and ...,NaN,2015,Kenya,"['(kippra)', '(kenya)']",kenya institute of public policy research and ...,NaN
3536,59,"security and defence studies centre, australia...",NaN,2015,United States,['(australia)'],"security and defence studies centre, australia...",NaN
3537,60,korea institute for national unification (kinu...,NaN,2015,Republic of Korea,"['(kinu)', '(republic of korea)']",korea institute for national unification,NaN
3538,61,emirates center for strategic studies and rese...,NaN,2015,United Arab Emirates,"['(ecssr)', '(united arab emirates)']",emirates center for strategic studies and rese...,NaN
3539,62,max planck institutes (germany),NaN,2015,Germany,['(germany)'],max planck institutes,NaN
3540,63,national institute for strategic studies (nisi...,NaN,2015,Kyrgyzstan,"['(nisi)', '(kyrgyz republic)']",national institute for strategic studies,NaN
3541,64,national institute of public finance and polic...,NaN,2015,India,"['(nipfp)', '(india)']",national institute of public finance and policy,NaN
3542,65,peace research institute oslo (prio) (norway),NaN,2015,Norway,"['(prio)', '(norway)']",peace research institute oslo,NaN
3543,66,analytical center for the government of the ru...,NaN,2015,Russia,['(russia)'],analytical center for the government of the ru...,NaN
3544,67,philippine institute for development studies (...,NaN,2015,Philippines,"['(pids)', '(philippines)']",philippine institute for development studies,NaN
3545,68,potsdam institute (pik) (germany),NaN,2015,Germany,"['(pik)', '(germany)']",potsdam institute,NaN
3546,69,united service institution of india (usi) (india),NaN,2015,United States,"['(usi)', '(india)']",united service institution of,NaN

In [46]:
#cleand_regions_tt.head()

In [44]:
writer = pd.ExcelWriter('../results/tts_conslidated_categories.xlsx', engine='xlsxwriter')
cleand_regions_tt.to_excel(writer,sheet_name='regions',index=False)
cleand_special_tt.to_excel(writer,sheet_name='special',index=False)
cleand_research_tt.to_excel(writer,sheet_name='research_areas',index=False)
writer.save()